* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
  background: white;
  background: radial-gradient(circle, #fff 20%, #ccc);
  background-size: cover;
}

.calculator {
  width: 275px;
  min-height:250px ;
  margin: 100px auto;
  padding: 20px 20px 9px;
  background: #9dd2ea;
  border-radius: 10px;
  background: linear-gradient(#9dd2ea, #8bceec);
  border-radius: 3px;
  box-shadow: 2px 4px #009de4, 0px 10px 15px rgba(0, 0, 0, 0.2);
}

.calculator__input {
  height: 40px;
  width: 212px;
  float: right;
  font-size: 15px;
  margin-top: 10px;
  padding: 0 10px;
  background: rgba(0, 0, 0, 0.2);
  border-radius: 3px;
  box-shadow: inset 0px 4px rgba(0, 0, 0, 0.2);
  border-radius: 15px;
  text-align: center;
}
.calculator__input:hover {
    box-shadow: 0px 5px rgba(36, 33, 187, 0.555);
}

 .calculator__result {
  text-align: center;
  margin-top:20px;
  height: 40px;
  width: 212px;
  float: right;
  padding: 10px 10px;
  font-size: 20px;
  background: rgba(0, 0, 0, 0.2);
  border-radius: 3px;
  box-shadow: inset 0px 4px rgba(0, 0, 0, 0.2);
  border-radius: 15px;
}

.calculator__select {
  float: left;
  position: relative;
  top: 0;
  left:20px;
  cursor: pointer;
  width: max-content;
  height: 36px;
  background: white;
  border-radius: 3px;
  box-shadow: 0px 4px rgba(0, 0, 0, 0.2);
  margin: 15px 7px 11px 0;
  color: #888;
  line-height: 36px;
  text-align: center;
  border-radius: 15px;
}
.calculator__select:hover {
    box-shadow: 0px 5px rgba(36, 33, 187, 0.555);
    transform: scale(1.02);
}

.calculator__button {
  float: left;
  position: relative;
  top: 0;
  left:20px;
  cursor: pointer;
  width: max-content;
  height: 36px;
  background: white;
  border-radius: 3px;
  box-shadow: 0px 4px rgba(0, 0, 0, 0.2);
  margin: 15px 7px 11px 0;
  color: #888;
  line-height: 36px;
  text-align: center;
  border-radius: 10px;
  
} 

.calculator__button:hover {
    border-radius: 10px;
    box-shadow: 0px 5px rgba(36, 33, 187, 0.555);
    transform: scale(1.02);
}